{% extends 'base.html.twig' %}

{% block title %}Developer index{% endblock %}

{% block body %}
    <h1>Developer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>CreationDate</th>
                <th>Parent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for developer in developers %}
            <tr>
                <td>{{ developer.id }}</td>
                <td>{{ developer.designation }}</td>
                <td>{{ developer.creationDate ? developer.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ developer.parent.designation }}</td>
                <td>
                    <a href="{{ path('app_developer_show', {'id': developer.id}) }}">show</a>
                    <a href="{{ path('app_developer_edit', {'id': developer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_developer_new') }}">Create new</a>
{% endblock %}
