{% extends 'base.html.twig' %}

{% block title %}Developer{% endblock %}

{% block body %}
    <h1>Developer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ developer.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ developer.designation }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ developer.creationDate ? developer.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_developer_index') }}">back to list</a>

    <a href="{{ path('app_developer_edit', {'id': developer.id}) }}">edit</a>

    {{ include('developer/_delete_form.html.twig') }}
{% endblock %}
